/* Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: MIT-0 */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-refresh {
  width: 500px;
  margin: auto;
}

.form-control.search-label {
  width: 300px;
  margin: auto;
  font-size: 15px;
}

